.banner {
    background: url("https://images.unsplash.com/photo-1507431489734-ef0dbfbf88e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80") center center;
 
    height:50vh;
    position: relative;
}
/* rgb(87, 194, 144); */
.banner__info {
    background: #191919;
    color: white;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:40px;
    width: 300px;

}

.banner__search {
    display: flex;
    flex-direction: column;
}
.banner__searchButton {
    background-color:#FFFF !important;
    color: #9dd622 !important;
    font-weight: 800 !important;
    text-transform: inherit !important;

}

.banner__info > button {
    background-color: #C1F257;
    text-transform: inherit;
    color:#FFFF;
    font-weight: 600;
    margin-top: 20px;
}

.banner__info > button:hover {
    background-color: #FFFF;
    color: #C1F257;
}

.banner__info > h5 {
    margin-top: 10px;
}