.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color:#FFFFFF

}


.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    /* padding: 10px;
    height: 30px; */
}

.header__center {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;   /*takes out box text in search*/
    /* width: 250px; */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}